<div class="panel panel-default">
  <div class="panel-heading">List users</div>

  <!-- Table -->
  <table class="table table-hover">
    <tr>
        <th>Full name</th>
        <th>Email</th>
        <th>Roles</th>
        <th>Is admin</th>
        <th>Is active</th>
        <th>...</th>
    </tr>
    <tr ng-repeat="user in users">
        <td> {{ user.first_name }} {{ user.last_name }} </td>
        <td> {{ user.email }} </td>
        <td> <span ng-repeat="groupName in user.groups">{{ groupName }} </span> </td>
        <td> 
            <span ng-hide="user.is_staff" class="glyphicon glyphicon-remove"></span>
            <span ng-show="user.is_staff" class="glyphicon glyphicon-ok"></span></span>
        </td>
        <td> 
            <span ng-hide="user.is_active" class="glyphicon glyphicon-remove"></span>
            <span ng-show="user.is_active" class="glyphicon glyphicon-ok"></span></span>
        </td>
        <td> 
            <a ng-href="#/users/{{user.id}}/edit" class="btn btn-primary">
                <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <span ng-show="user.is_active" ng-click="deleteUser(user)" class="btn btn-danger handcursor" title="Deactivate user">
                <span class="glyphicon glyphicon-trash"></span>
            </span>
            <span ng-hide="user.is_active" ng-click="activateUser(user)"
                class="btn btn-success handcursor" title="Activate user">
                <span class="glyphicon glyphicon-plus"></span>
            </span>
        </td>
    </tr>
  </table>
</div>