 <div class="panel panel-default">
  <div class="panel-heading">Edit {{ team.name }}</div>
  <div class="panel-body">
    <form name="createTeamForm" class="create-team-form" role="form" ng-submit="createTeam(team, productOwner, scrumMaster, teamMembersS)" novalidate>
        <div class="form-group"  
            ng-class="{ 'has-error' : createTeamForm.name.$invalid && createTeamForm.name.$dirty }">
            <label>Name</label>
            <input ng-model="team.name" type="text" name="name" 
                class="form-control" placeholder="Name" required autofocus>
            <p ng-show="createTeamForm.name.$error.required && createTeamForm.name.$dirty" 
                class="help-block">Please enter teams name.</p>
        </div>        
        <div class="form-group"
            ng-class="{ 'has-error' : createTeamForm.name.$invalid && createTeamForm.name.$dirty }" }>
            <label>Select product owner:</label>
            <select class="form-control" 
                ng-model="productOwner" ng-options="p as p.username for p in productOwners" required></select>
            <p ng-show="createTeamForm.name.$error.required && createTeamForm.name.$dirty" 
                class="help-block">Please select product owner.</p>
        </div>
        <div class="form-group"
            ng-class="{ 'has-error' : createTeamForm.name.$invalid && createTeamForm.name.$dirty }" }>
            <label>Select scrum master:</label>
            <select class="form-control" 
                ng-model="scrumMaster" ng-options="s as s.username for s in scrumMasters" required ></select>
        </div> 
        <div class="form-group"
            ng-class="{ 'has-error' : createTeamForm.name.$invalid && createTeamForm.name.$dirty }" }>
            <label>Select team members:</label>
            <select class="form-control"  size="10" multiple ng-multiple="true" ng-model="teamMembersS" ng-options="m as m.username for m in teamMembers" required> </select>
            <p ng-show="createTeamForm.name.$error.required && createTeamForm.name.$dirty" 
                class="help-block">Please select team members.</p>
        </div>
        <button class="btn btn-primary" ng-disabled="createTeamForm.$invalid" type="submit">Update team</button>
    </form>
  </div>
</div>