<div class="row">
  <form name="loginForm" class="" role="form" ng-submit="login()" >
    <h2 class="">Sign in</h2>
    <div class="" 
      ng-class="{ 'has-error' : loginForm.username.$invalid && loginForm.username.$dirty }">
      <label>Uporabniško ime</label>
      <input ng-model="user.username" type="text" name="username" 
        class="form-control" placeholder="Uporabniško ime" 
        ng-change="resetCredentialsValidity()" required autofocus>
      <br />
      <label>Geslo</label>
      <input ng-model="user.password" type="password" name="password" 
        class="form-control" placeholder="Geslo" ng-change="resetCredentialsValidity()" required>
      <p ng-show="loginForm.username.$error.wrongCredentials" class="help-block">
        Nepravilno uporabniško ime ali geslo!
      </p>
    </div>
    <br/>
    <button class="btn btn-lg btn-primary btn-block" 
      ng-disabled="loginForm.$invalid" type="submit">
      Prijava
    </button>

    <a href="#/ponastavitevgeslakoda">Ste pozabili geslo?</a>

    <h2 class="">Še nimaš računa?</h2>
    <a  class="col-md-12 btn btn-lg btn-primary" href="#/registracija">
      Registriraj se
    </a>
  </form>
</div>
