<div class="panel panel-default">
  <div class="panel-heading">User documentation</div>
  <div class="panel-body">
    <input type="search" class="form-group" 
      ng-model="q" placeholder="filter documentation..." aria-label="filter documentation" />
    <div class="animate-repeat" ng-repeat="section in DOCS | filter: q">
      <h4>{{ section.title }}</h4>
      <div ng-repeat="chapter in section.chapters | filter: q">
        <label>{{chapter.header}}</label>
        <p>{{chapter.content}}</p>
      </div>
      <hr />
    </div>
  </div>
</div>