<div class="panel panel-default">
  <div class="panel-heading">Add projects to board</div>
  <div class="panel-body">
    <form name="addBoardProject" class="create-column-form" role="form" 
        ng-submit="confirm()" novalidate>

        <div class="form-group" ng-if="allCols.length > 0" 
            ng-class="{ 'has-error' : addBoardProject.projects.$invalid && 
                                      addBoardProject.projects.$dirty }" }>
            <label>Add projects to board (hold Ctrl to select multiple projects):</label>
            <select class="form-control" 
                ng-model="board.projects" multiple ng-multiple="true" 
                ng-options="p as p.name for p in nullProjects">
                <option value="">-- choose board projects --</option>
            </select>
        </div>
        
        <button class="btn btn-primary" ng-disabled="addBoardProject.$invalid"
            type="submit">Save board projects</button>
    </form>
  </div>
</div>