<div class="row board-container">
    <div class="col-md-12 panel panel-default board-cmd-line padless">
        <div class="panel-heading">{{board.name}}</div>
        <div class="panel-body">
            <span ng-show="(session.is_staff || session.is_scrum_master) && allCols.length > 0" 
                ng-click="editBoardProjects()" class="btn btn-primary handcursor" title="Add or remove board projects">
                <span class="glyphicon glyphicon-pencil"></span> Projects
            </span>
            <span ng-show="(session.is_staff || session.is_scrum_master)" ng-click="createColumn()" class="btn btn-success handcursor" title="Create column">
                <span class="glyphicon glyphicon-plus"></span> Column
            </span>
            <span ng-show="(session.is_staff || userOwnsProjects) && (specialCols.borderCols.length >= 2 && specialCols.highPriorityCol &&  specialCols.acceptanceTestCol)" ng-click="createCard()" class="btn btn-success handcursor" title="Create card">
                <span class="glyphicon glyphicon-plus"></span> Card
            </span>
			<span ng-click="go('/analytics')" class="btn btn-success handcursor" title="Board analytics">
               Analytics
            </span>
            <div class="alert alert-board alert-warning" ng-show="specialCols.borderCols.length < 2">
                Board must have exactly 2 border columns.
            </div>
            <div class="alert alert-board alert-warning" ng-show="!specialCols.highPriorityCol">
                Board must have a high priority column. High priority column is a column left of the first border column. Therefore, create at least one border column with a free column to the left.
            </div>
            <div class="alert alert-board alert-warning" ng-show="!specialCols.acceptanceTestCol">
                Board must have an acceptance test column.
            </div>
            <div class="alert alert-board alert-warning" ng-show="board.projects.length < 1">
                There is no projects on the table. Add one!
            </div>
        </div>
    </div>
        
    <div class="col-md-12 board-col-container padless">
        <div class="project-names">
            <div class="vertical-text project-name" ng-repeat="proj in yourBoardProjects" ng-style="{ 'height': COL_DIM.height }">{{proj.name}}</div>
        </div>
        <div class="col-md-12 board-col-line" 
            ng-style="getBoardStyle()">
            <div class="panel panel-default panel-column panel-root-column" ng-repeat="col in rootCols" 
                ng-include="'/static/html/board/column.html'"
                ng-style="col.style"></div>
        </div>
    </div>
</div>
