<div class="row board-container">
    <div class="col-md-12 panel panel-default board-cmd-line">
        <div class="panel-body">
            <span ng-click="createColumn()" class="btn btn-success handcursor" title="Create column">
                <span class="glyphicon glyphicon-plus"></span> Column
            </span>
            <span ng-click="createCard()" class="btn btn-success handcursor" title="Create card">
                <span class="glyphicon glyphicon-plus"></span> Card
            </span>
            <span ng-click="addProject()" class="btn btn-success handcursor" title="Add project to board">
                <span class="glyphicon glyphicon-plus"></span> Project
            </span>
        </div>
    </div>
    <div class="col-md-12 board-col-line" 
        ng-style="getBoardStyle()">

        <div class="panel panel-default panel-column panel-root-column" ng-repeat="col in rootCols" 
            ng-include="'/static/html/board/column.html'"
            ng-style="col.style"></div>
        <!--<div class="col" ng-repeat="rCol in rootCols">
            <h1>{{rCol.name}}</h1>
            <div class="sub-col" ng-repeat="col in getSubCols(rCol.id)">
                {{col.name}}
            </div>

        </div>-->
    </div>
</div>
<p>{{allCards}}</p>
ads
<p>{{allProjects}}</p>
<p>{{nullProjects}}</p>
<p>{{board}}</p>