<div class="panel-heading">
    {{col.name}} [{{countCards(col)}}/{{col.wip}}]
    <span ng-show="countCards(col) < 1 && col.isLeafCol" ng-click="deleteColumn(col)" title="Delete column" 
        class="glyphicon glyphicon-trash handcursor"></span>
    <span ng-click="editColumn(col)" title="Edit column"
        class="glyphicon glyphicon-pencil handcursor"></span>
    <span ng-click="resizeColumn(col)" title="Resize column"
        class="glyphicon glyphicon-resize-horizontal handcursor"></span>
</div>
<div class="panel-body column-body">
{{col.style}}

    <div ng-if="col.isLeafCol" ng-repeat="proj in yourBoardProjects" class="project-row" 
        ng-style="getProjectStyle(col, $first, $last)" ng-drop="true" 
        ng-drop-success="onDropComplete($data, proj, col)">
        <div ng-repeat="card in getColumnProjectCards(proj.id, col.id)"
            class="card panel {{card.cardClass}}"
            ng-drag="true" ng-drag-data="card"
            ng-drag-success="onDragComplete(card)">
            <div class="panel-heading card-heading"><a ng-click="editCard(card)">{{card.name}}</a></div>
            <div class="panel-body">
               <p>{{card.content}}</p>

            </div>
        </div>
    </div>

    <div class="panel panel-default panel-column panel-subcolumn" ng-repeat="col in getSubCols(col.id)" 
        ng-style="col.style" ng-include="'/static/html/board/column.html'"></div>
</div>
