<div class="panel-heading">
    {{col.name}}
    <span ng-show="col.isLeafCol" ng-click="deleteColumn(col)"  
        class="glyphicon glyphicon-trash handcursor"></span>
</div>
<div class="panel-body column-body">

    <div ng-if="col.isLeafCol" ng-repeat="proj in board.projects" class="project-row" 
        ng-style="getProjectStyle(col, $first, $last)" ng-drop="true" 
            ng-drop-success="onDropComplete($data, getColumnProjectCards(proj.id, col.id))">
        <div ng-repeat="card in getColumnProjectCards(proj.id, col.id)"
            class="card">

            <div class="panel panel-info" ng-drag="true" ng-drag-data="obj" 
                ng-drag-success="onDragComplete(card, getColumnProjectCards(proj.id, col.id))" 
                data-allow-transform="true">
                <div class="panel-heading">{{card.name}}</div>
                <div class="panel-body">
                   <p> {{card.content}}</p>
                </div>
            </div>


        </div>
    </div>

    <div class="panel panel-default panel-column panel-subcolumn" ng-repeat="col in getSubCols(col.id)" 
        ng-style="col.style" ng-include="'/static/html/board/column.html'"></div>
</div>
