<div class="panel panel-default">
    <div class="panel-heading">Create new card
    </div>
    <div class="panel-body">
    <form name="cardForm" class="create-card-form" role="form" 
        ng-submit="confirm()" novalidate>
        <p ng-show="isSM && silverBullet" >You can not create cards as Scrum master because there is already one silverbullet in high-priority column.</p>
        <div class="form-group" ng-show="isSM && !silverBullet"
            ng-class="{ 'has-error' : cardForm.project.$invalid && cardForm.project.$dirty }" }>
            <label>Dear scrum master, select project to create silverbullet: </label>
            <select class="form-control" 
                ng-model="newCard.project" ng-options="p as p.name for p in yourOwnedSMProjects" name="project" ng-change="onProjectSelectionChange('ScrumMaster')" ></select>
            <p ng-show="cardForm.project.$error.required && cardForm.project.$dirty" class="help-block">
            Please choose cards project.</p>
        </div>  

        <div class="form-group" ng-show="isPO" 
            ng-class="{ 'has-error' : cardForm.project.$invalid && cardForm.project.$dirty }" }>
            <label>Dear product owner, select project to create new functionality card: </label>
            <select class="form-control" 
                ng-model="newCard.project" ng-options="p as p.name for p in yourOwnedPOProjects" name="project" ng-change="onProjectSelectionChange('ProductOwner')" ></select>
            <p ng-show="cardForm.project.$error.required && cardForm.project.$dirty" class="help-block">
            Please choose cards project.</p>
        </div>  
        <div class="form-group" ng-show="showCreateCardForm"
            ng-class="{ 'has-error' : cardForm.name.$invalid && cardForm.name.$dirty }">
            <label>Card name</label>
            <input ng-model="newCard.name" type="text" name="name" 
                class="form-control" placeholder="Card name" required autofocus>
            <p ng-show="cardForm.name.$error.required && cardForm.name.$dirty" 
                class="help-block">Please enter card name.</p>
        </div>   
        <div class="form-group" ng-show="showCreateCardForm"
            ng-class="{ 'has-error' : cardForm.content.$invalid && cardForm.content.$dirty }">
            <label>Card content</label>
            <textarea ng-model="newCard.content" type="text-area" rows="8" name="content" 
                class="form-control" placeholder="Card content" required autofocus></textarea>
            <p ng-show="cardForm.content.$error.required && cardForm.content.$dirty" class="help-block">
            Please enter card content.</p>
        </div> 
        <div class="form-group" ng-show="showCreateCardForm"
            ng-class="{ 'has-error' : cardForm.user.$invalid && cardForm.user.$dirty }" }>
            <label>Select responsible user</label>
            <select class="form-control" 
                ng-model="newCard.user" ng-options="u.id as u.first_name for u in allUsers" name="user"></select>
        </div>
                 
        <button class="btn btn-primary" ng-disabled="cardForm.$invalid"
            type="submit">Save card</button>
    </form>
  </div>
</div>