<div class="panel panel-default">
    <div class="panel-heading">{{type === "newFunctionality" ? "Creating a new functionality card: " : "Creating a silverbullet card: "}}
    </div>
    <div class="panel-body">
    <form name="cardForm" class="create-card-form" role="form" 
        ng-submit="confirm()" novalidate>
        <div class="form-group" 
            ng-class="{ 'has-error' : cardForm.name.$invalid && cardForm.name.$dirty }">
            <label>Card name</label>
            <input ng-model="newCard.name" type="text" name="name" 
                class="form-control" placeholder="Card name" required autofocus>
            <p ng-show="cardForm.name.$error.required && cardForm.name.$dirty" 
                class="help-block">Please enter card name.</p>
        </div>   
        <div class="form-group" 
            ng-class="{ 'has-error' : cardForm.name.$invalid && cardForm.name.$dirty }">
            <label>Card content</label>
            <input ng-model="newCard.content" type="text" name="name" 
                class="form-control" placeholder="Card content" required autofocus>
            <p ng-show="cardForm.content.$error.required && cardForm.content.$dirty" class="help-block">
            Please enter card content.</p>
        </div> 
        <div class="form-group"
            ng-class="{ 'has-error' : cardForm.project.$invalid && cardForm.project.$dirty }" }>
            <label>Select project</label>
            <select class="form-control" 
                ng-model="newCard.project" ng-options="p.id as p.name for p in board.projects" name="project" required></select>
            <p ng-show="cardForm.project.$error.required && cardForm.project.$dirty" class="help-block">
            Please choose cards project.</p>
        </div>    
        <div class="form-group"
            ng-class="{ 'has-error' : cardForm.user.$invalid && cardForm.user.$dirty }" }>
            <label>Select responsible user</label>
            <select class="form-control" 
                ng-model="newCard.user" ng-options="u.id as u.first_name for u in allUsers" name="user"></select>
        </div>
                 
        <button class="btn btn-primary" ng-disabled="cardForm.$invalid"
            type="submit">Save card</button>
    </form>
  </div>
</div>