<div class="panel panel-default">
  <div class="panel-heading">Create a column</div>
  <div class="panel-body">
    <form name="columnForm" class="create-column-form" role="form" 
        ng-submit="confirm()" novalidate>
        <div class="form-group" 
            ng-class="{ 'has-error' : columnForm.name.$invalid && columnForm.name.$dirty }">
            <label>Column name</label>
            <input ng-model="newCol.name" type="text" name="name" 
                class="form-control" placeholder="Column name" required autofocus>
            <p ng-show="columnForm.name.$error.required && columnForm.name.$dirty" 
                class="help-block">Please enter column name.</p>
        </div>

        <div class="form-group" ng-if="allCols.length > 0" 
            ng-class="{ 'has-error' : columnForm.parent_column.$invalid && 
                                      columnForm.parent_column.$dirty }" }>
            <label>Select parent column:</label>
            <select class="form-control" 
                ng-model="newCol.parent_column" ng-options="c.id as c.name for c in allCols"
                ng-change="newCol.left = undefined; newCol.right = undefined">
                <option value="">-- choose parent column --</option>
            </select>
        </div>

        <div class="form-group" ng-if="(newCol.right === undefined || newCol.right === null) && getSubCols(newCol.parent_column).length > 0" 
            ng-class="{ 'has-error' : columnForm.left.$invalid && columnForm.left.$dirty }" }>
            <label>Select left column:</label>
            <select class="form-control" 
                ng-model="newCol.left" 
                ng-options="c as c.name for c in getSubCols(newCol.parent_column)"
                ng-required="!newCol.location && (newCol.right === undefined || newCol.right === null) && getSubCols(newCol.parent_column).length > 0">
                <option value="">-- choose left column --</option>
            </select>
        </div>

        <div class="form-group" ng-if="(newCol.left === undefined || newCol.left === null) && getSubCols(newCol.parent_column).length > 0" 
            ng-class="{ 'has-error' : columnForm.right.$invalid && columnForm.right.$dirty }" }>
            <label>Select right column:</label>
            <select class="form-control" 
                ng-model="newCol.right" 
                ng-options="c as c.name for c in getSubCols(newCol.parent_column)"
                ng-required="!newCol.location && (newCol.left === undefined || newCol.left === null) && getSubCols(newCol.parent_column).length > 0">
                <option value="">-- choose right column --</option>
            </select>
        </div>
        
        <div class="form-group" 
            ng-class="{ 'has-error' : columnForm.wip.$invalid && columnForm.wip.$dirty }">
            <label>Column wip value</label>
            <input ng-model="newCol.wip" type="number" name="wip" 
                class="form-control" placeholder="0" required>
        </div>

        <!--<div class="form-group"
            ng-class="{ 'has-error' : columnForm.wip.$invalid && columnForm.wip.$dirty }">
            <label>Is high priority column:</label>
            <input type="checkbox" value="" ng-model="newCol.is_high_priority">
        </div>-->

        <div class="form-group" ng-if="specialCols.borderCols.length < 2 || newCol.is_border"
            ng-class="{ 'has-error' : columnForm.wip.$invalid && columnForm.wip.$dirty }">
            <label>Is border column:</label>
            <input type="checkbox" value="" ng-model="newCol.is_border">
        </div>

        <div class="form-group" ng-if="!specialCols.acceptanceTestCol || newCol.acceptance_test"
            ng-class="{ 'has-error' : columnForm.wip.$invalid && columnForm.wip.$dirty }">
            <label>Is acceptance test column:</label>
            <input type="checkbox" value="" ng-model="newCol.acceptance_test">
        </div>
        {{newCol}}
        <button class="btn btn-primary" ng-disabled="columnForm.$invalid"
            type="submit">Save column</button>
    </form>
  </div>
</div>