<div class="panel panel-default">
  <div class="panel-heading">Create a board</div>
  <div class="panel-body">
    <form name="createBoardForm" class="create-board-form" role="form" 
        ng-submit="createBoard(board)" novalidate>
        <div class="form-group" 
            ng-class="{ 'has-error' : createBoardForm.name.$invalid && createBoardForm.name.$dirty }">
            <label>Board name</label>
            <input ng-model="board.name" type="text" name="name" 
                class="form-control" placeholder="First name" required autofocus>
            <p ng-show="createBoardForm.name.$error.required && createBoardForm.name.$dirty" 
                class="help-block">Please enter board name.</p>
        </div>
        
        <div class="form-group">
            <label>Select board to copy (leave blank to create a new board)</label>
            <select class="form-control" 
                ng-model="boardS" ng-options="b as b.name for b in boards" name="board">
                <option value="" selected="selected"></option>
            </select>
        </div>

        <button class="btn btn-primary" ng-disabled="createBoardForm.$invalid"
            type="submit">Create board</button>
    </form>
  </div>
</div>